// Import all of Bootstrap's CSS
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+AU+VIC:wght@100..400&family=Squada+One&family=Teko:wght@300..700&display=swap');


@import "bootstrap";

.nav-link-hover {
    color: white;
    transition: color 0.3s ease;
}

.nav-link-hover:hover {
    color: rgb(255, 217, 129);
}

.card-title {
    color: rgb(255, 59, 59);
}

.bg-dark {
    color: #000000;
    background-color: #000000;
}

body {
    overflow-x: hidden !important;
}

b {
    color: rgb(255, 59, 59);
}

.social-hover {
    color: white;
    transition: color 0.3s ease;
}

.social-hover:hover {
    color: rgb(255, 59, 59);
}

strong {
    color: rgb(255, 214, 129);
}

@media (max-width: 768px) {
    ul {
        list-style-type: none;
        padding-left: 0;
    }
}

.album-cover {
    margin-right: -30px;
    width: 285px;
    height: 285px;
    object-fit: cover;
    border-radius: 8px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.gallery img {
    width: 100%;
    height: auto;
    max-width: auto;
    max-height: 250px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    object-fit: cover;
}


.gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.gallery .item {
    width: calc(33.33% - 20px);
    position: relative;
}


@media (max-width: 768px) {
    .gallery .item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .gallery .item {
        width: 100%;
    }
}

.date-publ {
    margin-bottom: -2px;
}

.grey {
    color: rgb(197, 174, 127);
    font-style: italic;
    font-size: 14px;
}

html,
body {
    height: 100%;
}

.kontakt {
    min-height: auto;
}

.vstupenka {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 59, 59);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    width: 200px;
}

.diskograf {
    display: inline-block;
    padding: 10px 20px;
    background-color: #040300;
    color: rgb(30, 215, 96);
    border: 2px solid rgb(30, 215, 96);
    border-radius: 10%;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    width: 200px;
}

.des img {
    padding-top: -20px;
    width: 250px;
}

.desi img {
    padding-top: -50px;
    width: 200px;
}

.desig img {
    width: 200px;
    rotate: 180deg;
}

.con {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 36vw;
    height: 100vh;
    z-index: -1;
    background-image: url(../images/logo-mod.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
}

a {
    text-decoration: none;
}

label {
    color: #040300 !important;
}

input,
textarea {
    width: 300px !important;
    background-color: #000000 !important;
    color: rgb(255, 217, 129) !important;
    border: 1px solid rgb(197, 174, 127) !important;
}

input::placeholder,
textarea::placeholder {
    color: rgb(197, 174, 127) !important;
}

.navbar-toggler {
    margin-top: -70px;
}

.navbut {
    color: rgb(255, 59, 59) !important;
    border-color: rgb(255, 59, 59) !important
}

button.btn-primary {
    background-color: rgb(255, 59, 59);
    border: none;
}
.navbar-toggler-icon{
    color: rgb(255, 59, 59);
}

button.btn-primary:hover {
    background-color: rgb(200, 40, 40);
}

.galleryimg {
    width: 50px;
    height: auto;
    max-width: 33%;
    max-height: 500px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    object-fit: cover;
}

.bg-dark,
.text-bg-dark {
    background-color: #040300 !important;
}

.text-bg-dark {

    background-color: #060502 !important;
    background-image: url(../images/logo-mod1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 10vw;
    height: 100vh;
}

.offcanvas-title {
    margin-top: 10px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    padding-left: 10px;
    margin-top: -10px;

}

li {
    text-decoration: none;
}

.card {
    background-color: transparent !important;
}

h1,
h2,
h3,
h4,
h5,
nav {
    font-family: "Teko", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
}

nav {
    font-size: 19px;
}

h5 {
    font-size: 25px;
}

.obraz {
    width: 100%; 
    aspect-ratio: 4 / 5; 
    object-fit: cover; 
    max-width: 400px;
}

.card-img-top{
    width: 100%;
    max-width: 350px;
    aspect-ratio: 4 / 5;
    object-fit: cover;
}

.card-text-{
    color: white !important;
    width: 100%;
    max-width: 350px;
}


.ribbon {
    position: absolute;
    top: 10px;
    left: -10px;
    background-color: rgb(30, 215, 96); 
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    transform: rotate(-45deg);
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.ribbon-lidovka {
    color: rgb(255, 255, 255);
}

.ribbon-zlevneno {
    background-color: rgb(255, 59, 59); 
}


.star-rating {
    font-size: 20px;
    color: rgb(255, 214, 129); 
}

.filters-okenko {
    padding: 20px;
    border-radius: 8px;  
    margin-bottom: 20px;
    color: rgb(255, 255, 255)  ;
    border: 1px solid rgb(255, 214, 129)  ;
    box-shadow: 0 4px 8px rgba(255, 214, 129, 0.2);  
}


.filters-okenko h5 {
    margin-bottom: 15px;
    font-weight: bold;
    color: rgb(255, 59, 59)

}

.filters-okenko .form-label {
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 214, 129)!important;
    background-color: #060502 !important; 
    
}
label{
    color: rgb(255, 214, 129)!important; 
}
option{
    background-color: #060502 !important;
    color: rgb(255, 214, 129)!important;
}

.form-select{
    background-color: #060502 !important;
    color: rgb(255, 214, 129)!important;
}

.carousel-item {
    object-fit: cover; 
    width: 100%;       
    height: 600px;     
    overflow: hidden;  
 }

.prjodukt{
    color: rgb(255, 214, 129)!important;
}

.prjodukt p, ul{
    color: white;
}
.text-prise{
    font-weight: bold;
    color: rgb(255, 59, 59)
}

.carousel-item img {
    object-fit: cover; 
    height: 450px; 
    width: 200px;
}

.produkt-detail {
    color: #fff; 
}

.text-price {
    font-size: 1.5rem;
    color: #e63946;
    font-weight: bold;
}

ul {
    list-style-type: none; 
    padding: 0;
}

ul li {
    margin-bottom: 0.5rem; 
}

.btn-danger {
    background-color: #e63946;
    border: none;
}

.btn-outline-secondary {
    color: #e63946;
    border-color: #e63946;
}

h6{
    color:  rgb(255, 214, 129);
}

.text-muted{
    color: #e63946 !important;
}

.kosikimg{
    object-fit: cover; 
    height: 75px; 
    width: 75px;
}