// Import all of Bootstrap's CSS
.bg-dark{
    background-color: #000000;
    color: #000000;
}
@import "bootstrap";
.nav-link-hover {
    color: white;
    transition: color 0.3s ease;
}

.nav-link-hover:hover {
    color: rgb(255, 217, 129);       
}
.card-title{
    color: rgb(255, 59, 59);
}
.bg-dark{
    color: #000000;
    background-color: #000000;
}
body{
    overflow-x: hidden;
}
b{
    color: rgb(255, 59, 59);
}
.social-hover {
    color: white;
    transition: color 0.3s ease;
}

.social-hover:hover {
    color: rgb(255, 59, 59);       
}

strong{
    color: rgb(255, 214, 129);
}

@media (max-width: 768px) {
    ul {
        list-style-type: none; 
        padding-left: 0; 
    }
}

.album-cover {
    margin-right: -30px;
    width: 285px;
    height: 285px;
    object-fit: cover;
    border-radius: 8px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.gallery img {
    width: 100%;
    height: auto;
    max-width: auto; 
    max-height: 250px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    object-fit: cover; 
}


.gallery img:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.gallery .item {
    width: calc(33.33% - 20px); 
    position: relative;
}


@media (max-width: 768px) {
    .gallery .item {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    .gallery .item {
        width: 100%;
    }
}

.date-publ{
    margin-bottom: -2px;
}
.grey {
    color: rgb(197, 174, 127);
    font-style: italic;
    font-size: 14px;
}
html, body {
    height: 100%;
}

.kontakt{
    min-height: auto;
}
.vstupenka{
    display: inline-block; 
    padding: 10px 20px; 
    background-color: rgb(255, 59, 59); 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 16px; 
    text-align: center;
    width: 200px;
}
.des img{
    padding-top: -20px;
   width: 250px;
}

.desi img{
    padding-top: -50px;
   width: 200px;
}

.desig img{
    width: 200px;
    rotate: 180deg;
}

.con {
    top: 0;
    left: 50%;                       
    transform: translateX(-50%);      
    width: 50vw;                      
    height: 100vh;                    
    z-index: -1;                      
    background-image: url(../images/logo-mod.svg);
    background-repeat: no-repeat;
    background-size: cover;           
    background-position: center;      
    position: fixed;                  
}

a {
    text-decoration: none;
}
label{
    color: rgb(255, 214, 129);
}
input, textarea{
    background-color: #000000;
    color: white;
}
.navbar-toggler{
    margin-top: -70px;
}
.navbut{
    color: rgb(255, 59, 59);
}
.galleryimg {
    width: 50px;
    height: auto;
    max-width: 33%; 
    max-height: 500px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    object-fit: cover;
}
.bg-dark, .navbar-dark, .navbar, .text-bg-dark{
    background-color: #040300 !important;
}
.text-bg-dark{
    width: 30vw;                      
    height: 100vh; 
    background-color: #060502 !important;
    background-image: url(../images/logo-mod.svg);
    background-repeat: no-repeat;
    background-size: cover;           
    background-position: center;      
    position: fixed;  
}

.offcanvas-title{
    margin-top: 10px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    padding-left: 10px;
    margin-top: -10px; 

}

li {
    text-decoration: none;
}