@import "bootstrap";


@font-face {
    font-family: 'Moon';
    src: url(../fonts/Moon\ Light.otf.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Floki';
    src: url(../fonts/floki-Hard.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.floki {
    font-family: 'Floki';
    font-size: 24px;
}

.floki-product {
    font-family: 'Floki';
    font-size: 24px;
    color: #0A262E;
    letter-spacing: 4px;
    margin-top: 24px;
    opacity: 50%;

}

.floki-product b {
    color: #E64A19;
    font-weight: lighter;
}

.floki-hide1,
.floki-hide2 {
    display: none;
    font-family: 'Floki';
    font-size: 24px;
}

@media (max-width: 1100px) {
    .floki-hide1 {
        display: block;
    }
}

@media (max-width: 800px) {
    .floki-hide2 {
        display: block;
    }
}

@font-face {
    font-family: 'Moon-bold';
    src: url(../fonts/Moon\ Bold.otf.otf) format('truetype');
    font-weight: bold;
    font-style: normal;
}


body {
    background-color: #0A262E;
    font-family: 'Moon', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

i {
    color: #FF5722 !important;
    text-decoration: none !important;
    font-style: normal !important;
}

a {
    color: white !important;
    text-decoration: none !important;
}

.container-body {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .container-body {
        width: 80%;
    }
}


@media (max-width: 768px) {
    .container-body {
        width: 90%;
    }
}


@media (max-width: 480px) {
    .container-body {
        width: 95%;
    }
}


@media (max-width: 320px) {
    .container-body {
        width: 100%;
    }
}



.hero{
    position: relative;
    width: 100%;
    height: 80vh; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-shop {
    position: relative;
    width: 100%;
    height: 60vh; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: center; 
    animation: zoomInOut 50s ease-in-out infinite; 
}

.hero-shop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: center; 
    animation: zoomInOut 50s ease-in-out infinite; 
}


@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.05); 
    }
}

.hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    padding: 0 20px;
    z-index: 1;
}

.hero-overlay-shop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    padding: 0 20px;
    z-index: 1;
}

.hero-overlay-shop h1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}

.hero-overlay-shop h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 10px 0 0;
    font-family: 'Moon', sans-serif;
    line-height: 1.4;
    text-transform: uppercase;
}

.hero-overlay h1 {
    font-size: 4rem;
    font-family: 'Moon-bold', sans-serif;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}

.hero-overlay h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 10px 0 0;
    font-family: 'Moon', sans-serif;
    line-height: 1.4;
    text-transform: uppercase;
}

.logos{
    height: 125px;
}

@media(max-width: 900px){
    .logos{
        height: 80px;
    }
}

@media (max-width: 768px) {
    .hero {
        height: 60vh;
    }

    .hero-overlay h1 {
        font-size: 2.5rem;
    }

    .hero-overlay h2 {
        font-size: 1.2rem;
    }

    .hero {
        height: 40vh;
    }

    .hero-overlay-shop h1 {
        font-size: 2.5rem;
    }

    .hero-overlay-shop h2 {
        font-size: 1.2rem;
    }
}

.carousel-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

@media (max-width: 768px) {
    .carousel-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px;
    }}

.text-side {
    flex: 1;
    margin-right: 20px;
}

.image-side {
    flex: 1;
}

.carousel-item img {
    max-width: 60vh;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carousel-item img:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px;
    height: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    background: none;
    border: none;
    color: transparent;
    font-size: 2rem;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.carousel-control-prev {
    padding-left: 20px;
}

.carousel-control-next {
    padding-right: 20px;
}

.carousel-inner {
    margin-left: 40px;
    margin-right: 40px;
}

.little {
    color: #A9DDF5;
}

.text-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.buttonnn {
    margin-left: -85px;
    color: #A9DDF5;
}

.btn-primary {
    background-color: #FF5722;
    color: white;
    border: 1px solid #FFF;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.6s ease;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #A9DDF5;
    color: #0A262E !important;

}

.bi-cart {
    color: white !important;
}

.h1 {
    font-family: 'Moon', sans-serif !important;
}

.product-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    width: 350px;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-image {
    margin-top: 10px;
    width: 100%;
    height: auto;
    transform: rotate(270deg);
    object-fit: cover;
    padding: 70px;
    transition: transform 0.3s ease, width 0.3s ease;
}

.product-image:hover {
    transform: rotate(270deg) scale(1.1);
}

.product-info {
    padding: 20px;
    text-align: center;
}

.product-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #0D1B2A;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.4rem;
    color: #E64A19;
    margin-bottom: 15px;
    font-weight: bold;
}

.product-rating {
    color: #ffbf00;
    font-size: 1.1rem;
}

.product-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FF5722;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.product-button:hover {
    background-color: #E64A19;
}

.seemore button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 50px;
    background-color: #258cbc;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.seemore button:hover {
    background-color: #A9DDF5;
}



.products {
    display: flex;
}

.blue {
    color: #258cbc;
    font-weight: bold;
}

footer svg {
    color: #FFF;
    transition: color 0.2s;
}

footer svg:hover {
    color: #E64A19;
}

footer .line {
    height: 2px;
    background-color: white;
    width: auto;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.2s;
}

footer:hover .line {
    box-shadow: 0 10px 20px rgba(230, 74, 25, 1);
}

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: bold;
    color: white;
}

.step-active {
    background-color: #258cbc;
}

.step-inactive {
    background-color: #ccc;
}

.step-title {
    margin-left: 10px;
}

.step-line {
    flex-grow: 1;
    height: 2px;
    background-color: #ccc;
    margin: 0 5px;
}

@media (max-width: 768px) {
    .steps-container {
        flex-direction: column; 
        align-items: flex-start; 
        gap: 10px; 
    }

    .step {
        width: 30px; 
        height: 30px;
        font-size: 14px; 
    }

    .step-line {
        width: 90%; 
        height: 2px; 
        margin: 5px 0; 
    }

    .step-title {
        font-size: 14px; 
    }
}

@media (max-width: 480px) {
    .step {
        width: 25px; 
        height: 25px;
        font-size: 12px; 
    }

    .step-title {
        font-size: 12px; 
    }
}

.cartimg {
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.discount-link {
    font-size: 1rem;
    color: #258cbc;
    text-decoration: none;
}

.discount-link:hover {
    text-decoration: underline;
}

.back-button {
    margin-top: 10px;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: auto;
    max-height: 350px
}

.pic {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    object-fit: cover;
}

.pic:hover {
    transform: scale(1.05);
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="white" stroke-width="3" d="M5 7h20M5 15h20M5 23h20"%3E%3C/path%3E%3C/svg%3E');
}

.title-h2{
    display: inline;
}


@media (max-width: 680px) {
    .title-h2{
        display: none;
    }
    
}


h2 br {
    display: none; 
}

@media (min-width: 992px) {
    h2 br {
        display: block; 
    }
}


.nav-link{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 5px;
    margin-right: 5px;
}

.container-cart{
    margin-left: 0px;
    margin-right: 0px;
}

@media (min-width: 992px) {
    .container-cart{
        margin-left: 90px;
        margin-right: 90px;
    }
}

.sort-section {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 18px;

}

.sort-container {
    display: flex;
    align-items: center;
}

.sort-label {
    padding: 10px;
    margin-right: 5px;
    font-weight: bold;
    color: #ffffff;
    font-weight: bold;
}

.sort-dropdown {
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px;
    color: #E64A19;
    font-weight: bold;
}
option{
    font-weight: bold;
    font-size: 14px;
}

.little-text b{
    color: #A9DDF5;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden; 
    position: relative;
}

body::before {
    content: '';
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100vh; 
    background-image: url('../images/Background.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    opacity: 0.6;
    animation: zoomInOut 20s ease-in-out infinite; 
    z-index: -1; 
}

    @keyframes zoomInOut {
        0%, 100% {
            transform: scale(1); 
        }
        50% {
            transform: scale(1.05); 
        }
    }

